@media screen and (max-width: 1024px) {
  .packagesContainer {
    height: 0vh;
  }
}

@media screen and (max-width: 1004px) {
  body {
    max-width: 1600px;
  }
  .logo {
    width: 150px;
    height: 90px;
  }
  #navLinks li {
    margin-left: 15px;
  }
  .Iata {
    width: 150px;
    height: 50px;
  }
  .sectionFirstColPara {
    margin-top: 50px;
  }
  .sectionSecond .col p {
    font-size: 1rem;
    line-height: 1.3;
  }
  .sectionThird .col p {
    font-size: 1rem;
    line-height: 1.3;
  }
  .sectionFourth .col p {
    font-size: 1rem;
    line-height: 1.3;
  }
  .sectionFifth .col p {
    font-size: 1rem;
    line-height: 1.3;
  }
  .sectionSixth .col p {
    font-size: 1rem;
    line-height: 1.3;
  }
}

@media screen and (max-width: 879px) {
  .packagesContainerBox {
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  .col img {
    max-width: 98%;
  }
  .col h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .sectionSecond .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
  .sectionThird .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
  .sectionFourth .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
  .sectionFifth .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
  .sectionSixth .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 830px) {
  #navLinks {
    visibility: hidden;
  }
  .hamburger {
    display: block;
  }
  .line {
    color: #fff;
    display: block;
  }
  .sidebar {
    left: -125%;
  }
  .sidebar.show {
    left: 0;
  }
  .close-btn {
    color: #fff;
    display: block;
  }
  .close-btn.show {
    right: 0;
  }
  .col img {
    max-width: 108%;
  }
  .sectionFirstColPara {
    margin-top: 30px;
    font-size: 0.83rem;
  }
}

@media screen and (max-width: 799px) {
  .divider-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 705px) {
  .sectionSecond .col p {
    font-size: 0.8rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 680px) {
  .packages {
    display: block;
    gap: 5px;
  }
  .packagesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    height: 50vh;
  }
  .packages2 {
    margin-left: 173px;
    display: block;
    margin-top: 16px;
  }

  .divider-text {
    font-size: 1.2rem;
  }
  .col img {
    max-width: 98%;
  }
  .sectionSecond {
    padding: 0;
  }
  .sectionSecondContainer {
    max-width: 400px;
    margin: 0 auto;
  }
  .sectionSecondRow {
    display: block;
  }

  .sectionThird {
    padding: 0;
  }
  .sectionThirdContainer {
    max-width: 400px;
    margin: 0 auto;
  }
  .sectionThirdRow {
    display: block;
  }

  .sectionFourth {
    padding: 0;
  }
  .sectionFourthContainer {
    max-width: 400px;
    margin: 0 auto;
  }
  .sectionFourthRow {
    display: block;
  }

  .sectionFifth {
    padding: 0;
  }
  .sectionFifthContainer {
    max-width: 400px;
    margin: 0 auto;
  }
  .sectionFifthRow {
    display: block;
  }

  .sectionSixth {
    padding: 0;
  }
  .sectionSixthContainer {
    max-width: 400px;
    margin: 0 auto;
  }
  .sectionSixthRow {
    display: block;
  }
}

@media screen and (max-width: 644px) {
  .packages2 {
    margin-left: 160px;
    display: block;
    margin-top: 16px;
  }
}

/* DIMENSION || SURFACE DUO */
@media screen and (max-width: 540px) {
  body {
    scroll-behavior: smooth;
  }
  .logo {
    width: 150px;
    height: 50px;
    margin-left: 0;
    margin-top: 0;
  }
  #navLinks {
    display: none;
  }
  .sectionFirstRow {
    display: block;
  }
  .form-fields {
    display: block;
  }
  .packages2 {
    margin-left: 120px;
    margin-top: 4px;
  }
  .sectionSecond .col p {
    font-size: 1rem;
    line-height: 1.5;
  }
  .sectionThird .col p {
    font-size: 1rem;
    line-height: 1.5;
  }
  .sectionFourth .col p {
    font-size: 1rem;
    line-height: 1.5;
  }
  .sectionFifth .col p {
    font-size: 1rem;
    line-height: 1.5;
  }
  .sectionSixth .col p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

/* DIMENSION  || IPHONE 14 PRO MAX  */
@media screen and (max-width: 430px) {
  body {
    scroll-behavior: smooth;
  }
  .logo {
    width: 150px;
    height: 50px;
    margin-left: 0;
    margin-top: 0;
  }
  #navLinks {
    display: none;
  }
  .form-fields {
    display: block;
  }
  .sectionFirstRow {
    display: block;
  }
  .packagesContainer {
    height: 33vh;
  }
  .packages2 {
    margin-left: 66px;
    display: block;
    margin-top: 6px;
  }
  .divider-text {
    font-size: 0.64rem;
  }
  .col img {
    max-width: 100%;
  }
  .col h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .sectionSecondContainer {
    max-width: 350px;
  }
  .sectionSecondRow {
    margin: 0;
  }
  .sectionSecond .col p {
    font-size: 0.9rem;
    line-height: 1.2;
  }
  .sectionThirdContainer {
    max-width: 350px;
  }
  .sectionThirdRow {
    margin: 0;
  }
  .sectionThird .col p {
    font-size: 0.9rem;
    line-height: 1.2;
  }
  .sectionFourthContainer {
    max-width: 350px;
  }
  .sectionFourthRow {
    margin: 0;
  }
  .sectionFourth .col p {
    font-size: 0.9rem;
    line-height: 1.2;
  }
  .sectionFifthContainer {
    max-width: 350px;
  }
  .sectionFifthRow {
    margin: 0;
  }
  .sectionFifth .col p {
    font-size: 0.9rem;
    line-height: 1.2;
  }
  .sectionSixthContainer {
    max-width: 350px;
  }
  .sectionSixthRow {
    margin: 0;
  }
  .sectionSixth .col p {
    font-size: 0.9rem;
    line-height: 1.2;
  }
  .footerContainer {
    visibility: hidden;
    display: none;
  }
}

/* DIMENSION  || IPHONE XR  */
@media screen and (max-width: 414px) {
  body {
    scroll-behavior: smooth;
  }
  .logo {
    width: 150px;
    height: 50px;
    margin-left: 0;
    margin-top: 0;
  }
  #navLinks {
    display: none;
  }
  .form-fields {
    display: block;
  }
  .formButton {
    padding: 12px;
    font-size: 14px;
    width: 100%;
  }
  .sectionFirstRow {
    display: block;
  }
  .packagesContainer {
    height: 35vh;
  }
  .packages2 {
    margin-left: 58px;
    display: block;
    margin-top: 6px;
  }
  .divider-text {
    font-size: 0.64rem;
  }
  .footerContainer {
    visibility: hidden;
    display: none;
  }

  .col img {
    max-width: 100%;
  }
  .col h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .sectionSecondContainer {
    max-width: 350px;
  }
  .sectionSecondRow {
    margin: 0;
  }
  .sectionSecond .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
  .sectionThirdContainer {
    max-width: 350px;
  }
  .sectionThirdRow {
    margin: 0;
  }
  .sectionThird .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
  .sectionFourthContainer {
    max-width: 350px;
  }
  .sectionFourthRow {
    margin: 0;
  }
  .sectionFourth .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
  .sectionFifthContainer {
    max-width: 350px;
  }
  .sectionFifthRow {
    margin: 0;
  }
  .sectionFifth .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
  .sectionSixthContainer {
    max-width: 350px;
  }
  .sectionSixthRow {
    margin: 0;
  }
  .sectionSixth .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
  .footerContainer2 {
    padding: 0;
  }
  .cs_copyright {
    font-size: 13px;
  }
  .cs_menu_widget_2 li a {
    font-size: 13px;
  }
}

/* DIMENSION || IPHONE 12 PRO  */
@media screen and (max-width: 390px) {
  body {
    scroll-behavior: smooth;
  }
  .form-fields {
    display: block;
  }
  .packages2 {
    margin-left: 46px;
    margin-top: 16px;
  }
}

/* DIMENSION  ||  IPHONE SE  */
@media screen and (max-width: 375px) {
  body {
    scroll-behavior: smooth;
  }
  .logo {
    width: 150px;
    height: 50px;
    margin-left: 0;
    margin-top: 0;
  }
  #navLinks {
    display: none;
  }
  .form-fields {
    display: block;
  }
  .sectionFirstRow {
    display: block;
  }
  .packages2 {
    margin-left: 40px;
    display: block;
    margin-top: 46px;
  }
  .divider-text {
    font-size: 0.69rem;
  }
  .footerContainer {
    visibility: hidden;
    display: none;
  }
  .footerContainer2 {
    padding: 0;
  }
  .cs_copyright {
    font-size: 10px;
  }
  .cs_menu_widget_2 li a {
    font-size: 11px;
  }

  .col img {
    max-width: 100%;
  }
  .col h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .sectionSecondContainer {
    max-width: 350px;
  }
  .sectionSecondRow {
    margin: 0;
  }
  .sectionSecond .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
  .sectionThirdContainer {
    max-width: 350px;
  }
  .sectionThirdRow {
    margin: 0;
  }
  .sectionThird .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
  .sectionFourthContainer {
    max-width: 350px;
  }
  .sectionFourthRow {
    margin: 0;
  }
  .sectionFourth .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
  .sectionFifthContainer {
    max-width: 350px;
  }
  .sectionFifthRow {
    margin: 0;
  }
  .sectionFifth .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
  .sectionSixthContainer {
    max-width: 350px;
  }
  .sectionSixthRow {
    margin: 0;
  }
  .sectionSixth .col p {
    font-size: 0.83rem;
    line-height: 1.2;
  }
}

/* DIMENSION  ||  SAMSUNG GALAXY S8+  */
@media screen and (max-width: 360px) {
  body {
    scroll-behavior: smooth;
  }
  .packages2 {
    margin-left: 32px;
    display: block;
    margin-top: 28px;
  }
}

/* DIMENSION  ||  GALAXY Z FOLD 5  */
@media screen and (max-width: 344px) {
  body {
    scroll-behavior: smooth;
  }
  .top-bar ul li {
    margin-left: 6px;
  }
  .packages2 {
    margin-left: 23px;
    display: block;
    margin-top: 10px;
  }
}
