* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
}

/* HEADER - top-bar CSS || START  */
.top-bar {
  background-color: #090808;
  margin-bottom: 1px;
  height: 25px;
}

.top-bar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: Gotham, ZaridSans-Regular, ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}

.top-bar ul li {
  margin-left: 20px;
}

.top-bar ul li a {
  color: #87e19b;
  text-decoration: none;
}

.top-bar ul li a:hover {
  color: #e95a5a;
}
/* HEADER - top-bar CSS || END  */

/* HEADER || SECOND top-bar CSS || START  */
.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242323;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  background-image: url(../images/finalLogo.png);
  width: 200px;
  height: 100px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 20px;
  margin-top: 10px;
}

#navLinks {
  list-style: none;
  padding: 0;
}

#navLinks li {
  margin-left: 30px;
}

#navLinks li a {
  text-decoration: none;
  color: rgb(245, 245, 245);
  text-shadow: rgba(0, 0, 0, 0.125) 2px 2px 2px;
  display: block;
  position: relative;
  font-size: 1rem !important;
}

/*    ------>     hamburger - STYLING   <------     */
.hamburger {
  display: none;
  cursor: pointer;
}

/*    ------>     hamburger-line - STYLING   <------     */
.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s ease-in-out;
}

/*    ------>     sidebar - STYLING   <------     */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: #444;
  transition: left 0.3s ease-in-out;
}

.sidebar.show {
  left: 0;
}

/*    ------>     sidebar-ul - STYLING   <------     */
.sidebar ul {
  margin-top: 110px;
  text-align: center;
  list-style: none;
  padding: 0;
}

/*    ------>     sidebar-li - STYLING   <------     */
.sidebar li {
  margin: 1rem 0;
}

/*    ------>     sidebar-a - STYLING   <------     */
.sidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem;
  border-radius: 20px;
}

.sidebar a:hover {
  font-weight: bold;
  cursor: pointer;
  background-color: black;
}

/*    ------>     close-btn - STYLING   <------     */
.close-btn {
  display: none;
  position: absolute;
  top: -15px;
  right: 2px;
  height: 41px;
  font-size: 2.1rem;
  cursor: pointer;
  transition: right 0.3s ease-in-out;
}

.close-btn:hover {
  background-color: cadetblue;
  color: #333;
}

.close-btn.show {
  right: 0;
}

.Iata {
  background-image: url(../images/iata.png);
  width: 200px;
  height: 80px;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3px;
}

#navLinks {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-left: 70px;
}

#navLinks a:hover {
  text-decoration: underline;
}
/* HEADER || SECOND top-bar CSS || END  */

/* HEADER || BODY - Form CSS || START  */

.header {
  background-image: url("../images/1.jpg");
  background-size: auto;
}

.BodyForm {
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff69;
  text-align: center;
  justify-content: center;
  margin-top: 150px;
  margin-left: 10%;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
  font-size: 3.5rem;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 2px;
  color: #fff;
}

.form {
  margin-top: 20px;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.field-group {
  flex-basis: 50%;
  padding: 2px;
  box-sizing: border-box;
  margin-bottom: 2px;
}

.field-group input[type="text"],
.field-group input[type="tel"],
.field-group input[type="number"],
.field-group select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 2px;
}

.field-group select {
  appearance: none;
  -webkit-appearance: none;
  background-position: right 10px top 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 8px 8px, 100% 100%;
  padding-right: 35px;
}

.field-group input[type="text"]:focus,
.field-group input[type="tel"]:focus,
.field-group input[type="number"]:focus,
.field-group select:focus {
  outline: none;
  box-shadow: 0 0 2px 1px #333;
}

.formButton {
  flex-basis: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #464747;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.formButton:hover {
  background-color: #45a049;
}
/* HEADER || BODY - Form CSS || END  */

/* BODY - INTRO || START  */
.intro {
  background-color: #f5f5f5;
  padding: 50px 0;
  /* margin-top: 350px; */
  width: 100%;
}

.divider {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  text-align: center;
}

.divider-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #464747;
  color: #fff;
  padding: 5px 20px;
  position: relative;
  font-size: 2rem;
}

.divider-text hr {
  width: 30%;
  border: none;
  height: 1px;
  background-color: #fff;
  margin: 0 10px;
}
/* BODY - INTRO || END  */

/* BODY - SECTION FIRST || START  */
.sectionFirst {
  background-color: #f5f5f5;
  display: flex;
}

.sectionFirstContainer {
  max-width: 1500px;
  margin: 0 auto;
}

.sectionFirstRow {
  display: flex;
  flex-wrap: wrap;
}

.sectionFirstCol {
  flex: 1;
  padding: 0 20px;
}

.sectionFirstColPara {
  margin-top: 90px;
}

.section-first-video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.section-first-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* BODY - SECTION FIRST || END  */

/* BODY - PACKAGES SECTION || START  */
.packages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.packagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  padding: 0 20px;
}

.packagesContainerBox {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.packagesContainerBox-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.packagesContainerBox-wrapper:hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 115%;
  height: 100%;
  overflow: hidden;
  transition-duration: 1500ms;
}

.packagesContainer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(60%);
  transform: scale(1.2);
  transition: transform 0.5s;
}

.packages-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.packages-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.packages-title {
  margin: 0;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.packages-button {
  margin-top: 20px;
}

.packagesButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.packagesButton:hover {
  background-color: #0056b3;
}
/* BODY - PACKAGES SECTION || END  */

/* BODY - SECTION SECOND || START  */
.sectionSecond {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sectionSecondContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.sectionSecondRow {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col {
  flex: 1 1 0%;
  padding: 1rem;
}

.col img {
  max-width: 100%;
  height: auto;
  transition-duration: 1500ms;
}

.col img:hover {
  border-radius: 20px;
  transition: transform 0.5s;
  transform: scale(1.1);
  transition-duration: 1500ms;
}

.col h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.col p {
  font-size: 1.1rem;
  line-height: 1.5;
}
/* BODY - SECTION SECOND || END  */

/* BODY - SECTION THIRD || START  */
.sectionThird {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sectionThirdContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.sectionThirdRow {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col {
  flex: 1 1 0%;
  padding: 1rem;
}

.col img {
  max-width: 100%;
  height: auto;
}

.col img:hover {
  /* scale: 1.1; */
  border-radius: 20px;
  transition: transform 0.5s;
  transform: scale(1.1);
  transition-duration: 1500ms;
}

.col h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.col p {
  font-size: 1.1rem;
  line-height: 1.5;
}
/* BODY - SECTION THIRD || END  */

/* BODY - SECTION FOURTH || START  */
.sectionFourth {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sectionFourthContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.sectionFourthRow {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col {
  flex: 1 1 0%;
  padding: 1rem;
}

.col img {
  max-width: 100%;
  height: auto;
  transition-duration: 1500ms;
}

.col img:hover {
  border-radius: 20px;
  transition: transform 0.5s;
  transform: scale(1.1);
  transition-duration: 1500ms;
}

.col h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.col p {
  font-size: 1.1rem;
  line-height: 1.5;
}
/* BODY - SECTION FOURTH || END  */

/* BODY - SECTION FIFTH || START  */
.sectionFifth {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sectionFifthContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.sectionFifthRow {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col {
  flex: 1 1 0%;
  padding: 1rem;
}

.col img {
  max-width: 100%;
  height: auto;
  transition-duration: 1500ms;
}

.col img:hover {
  border-radius: 20px;
  transition: transform 0.5s;
  transform: scale(1.1);
  transition-duration: 1500ms;
}

.col h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.col p {
  font-size: 1.1rem;
  line-height: 1.5;
}
/* BODY - SECTION FIFTH || END  */

/* BODY - SECTION SIXTH || START  */
.sectionSixth {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sectionSixthContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.sectionSixthRow {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col {
  flex: 1 1 0%;
  padding: 1rem;
}

.col img {
  max-width: 100%;
  height: auto;
  transition-duration: 1500ms;
}

.col img:hover {
  border-radius: 20px;
  transition: transform 0.5s;
  transform: scale(1.1);
  transition-duration: 1500ms;
}

.col h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.col p {
  font-size: 1.1rem;
  line-height: 1.5;
}
/* BODY - SECTION SIXTH || END  */

/* FOOTER - SECTION || START  */

.footerContainer {
  max-width: 100%;
  overflow: hidden;
}

.cs_footer_main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #222222;
}

.cs_footer_main_col {
  flex-basis: 30%;
}

.cs_footer_widget {
  margin-bottom: 40px;
  margin-top: 40px;
}

.cs_text_widget img {
  max-width: 50%;
  margin-left: 18px;
}

.cs_contact_widget {
  margin-bottom: 20px;
}

.cs_contact_widget li {
  margin-bottom: 10px;
}

.para p {
  color: #f2f2f2;
}

.cs_fs_20 {
  font-size: 20px;
  color: #f2f2f2;
}

.cs_semibold {
  font-weight: 600;
}

.cs_white_color {
  color: #ffffff;
}

.cs_menu_widget {
  list-style: none;
}

.cs_menu_widget li {
  margin-bottom: 10px;
}

.cs_menu_widget a {
  color: #ffffff;
  text-decoration: none;
}

.cs_social_btn {
  display: flex;
  height: 10px;
  gap: 10px;
}

.cs_social_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #ffffff;
  text-decoration: none;
  background-color: #3d24cf;
  border-radius: 25px;
}

.cs_social_btn a:hover {
  background-color: #f92c2c;
}

.cs_social_btn i {
  font-size: 20px;
}

@media (min-width: 1100px) {
  .footerContainer {
    max-width: none;
  }
}

/* secondFooter */
.footerContainer2 {
  background-color: #0a0a0a;
  padding: 20px 0;
  color: white;
}

.cs_footer_bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cs_copyright {
  font-size: 14px;
}

.cs_menu_widget_2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cs_menu_widget_2 li {
  display: inline;
  margin-right: 10px;
}

.cs_menu_widget_2 li a {
  text-decoration: none;
  font-size: 14px;
}

.cs_menu_widget_2 li a:hover {
  color: #007bff;
}
/* FOOTER - SECTION || END  */
